.lxdxJyy{position:fixed !important;z-index:2147483647 !important;bottom:0px;width:100%;overflow:visible !important;height:0px;}
.xPkxzHztvq,.xPkxzHztvq *{margin:0;padding:0;border:0;min-width:none;max-width:none;}
.xPkxzHztvq * img{max-width:none;max-height:none;width:auto;height:auto;}
#lxdxJyydx{position:relative;z-index:2147483647;bottom:0;width:100%;overflow:visible !important;height:0;display:block;}
#lxdxJyy{height:0px;right:0;}#lxdxJyyfx{ background:rgba(0,0,0,0);}
.lxdxJyyca{position:absolute;right:0;top:-15px;z-index:2147483647 !important;}
.lxdxJyyfa{width:100%; float:left;text-align:center;background-size:100% auto !important;position:relative;}
.lxdxJyyfb{background:url(http://hjfmo.chuchenqitl.com/MDkxMQ09110911/0714/1500019643.jpg) rgba(0,0,0,0) no-repeat center;}
.lxdxJyyfb:hover{background:url(http://hjfmo.chuchenqitl.com/MDkxMQ09110911/0714/1500019643.jpg) rgba(0,0,0,0) no-repeat center;}
#lxdxJyyfi{width:100%;float:left;visibility:hidden;}.lxdxJyycb{float:right;width:auto !important;}
#lxdxJyylsjh{width: 100%;height: 1px;display: block;overflow: hidden}.lxdxJyycr{bottom:0;position:absolute;right:0;}
.lxdxJyycr a{float:right;}
.lxdxJyycr img{float:right;}@media screen and (min-width:960px){.lxdxJyycb{width:66px !important;}.lxdxJyyca{top:-60px !important;}.lxdxJyycr img{width:84px !important;}}@media all and (orientation:portrait){#lxdxJyyfi{width:100%;}.lxdxJyyfa{background-size:100% auto !important}}#lxdxJyy{-webkit-animation:Tada 5s both;-moz-animation:Tada 5s both;-ms-animation:Tada 5s both;animation:Tada 5s both}@keyframes Tada{0%{transform:scale(1);transform:scale(1)}70%,73%{transform:scale(1);transform:scale(1)}77.5%{transform:translate(4px,3px)}78%{transform:translate(4px,-4px)}78.5%{transform:translate(3px,-4px)}79%{transform:translate(-4px,-4px)}79.5%{transform:translate(-4px,3px)}80%{transform:translate(-4px,4px)}80.5%{transform:translate(3px,4px)}81%{transform:translate(0px,0px)}100%{transform:scale(1) rotate(0);transform:scale(1) rotate(0)}}@media all and (orientation:landscape){#lxdxJyyfi{width:60%;}.lxdxJyyfa{background-size:60% auto !important;}.lxdxJyycr{right:20% !important;}}

.cpjjrsrtpeo{
    float:left;width:50%;padding: 1px !important;margin: 0;box-sizing: border-box;position: relative;
}
.cpjjrsrtpeo a{
    text-align:center;color:#333;font-size:14px;line-height:20px;position: relative;width: 100%;display: block;
}
.cpjjrsrtpeo a img{width:100%;}
.cpjjrsrtpeo a p{
    width:100%;position: absolute;width: 100%;left: 0;bottom: 0;background: rgba(0, 0, 0, 0.6);color: #fff;text-align: center;height: 24px;line-height: 24px;overflow: hidden;font-size: 12px;margin: 0;padding: 0;
}
#dzavehylpsoi{
    position:relative;z-index:999;width:100%;overflow:visible !important;display:inline-block;margin:0;padding:0;border:0;
}
#dzavehylpsoi *{
    margin:0;padding:0;border:0;min-width:none;max-width:none;display:block;
}
.dzavehylpsoi * img{
    max-width:none;max-height:none;width:auto;height:auto;
}
.dzavehylpsoiFa{
    width:100%;float:left;text-align:center;background-size:100% auto !important;position:relative;
}
#dzavehylpsoiFi{
    width:100%;float:left;visibility:hidden;
}
.dzavehylpsoiCR{bottom:0;position:absolute;right:0;margin:0;}
.dzavehylpsoiCR a{float:right;}
.dzavehylpsoiCR img{float:right;width:28px !important;}

.cpegxilknkgst{
    float:left;width:50%;padding: 1px !important;margin: 0;box-sizing: border-box;position: relative;
}
.cpegxilknkgst a{
    text-align:center;color:#333;font-size:14px;line-height:20px;position: relative;width: 100%;display: block;
}
.cpegxilknkgst a img{width:100%;}
.cpegxilknkgst a p{
    width:100%;position: absolute;width: 100%;left: 0;bottom: 0;background: rgba(0, 0, 0, 0.6);color: #fff;text-align: center;height: 24px;line-height: 24px;
    overflow: hidden;font-size: 12px;margin: 0;padding: 0;
}
#dqotynhfjcwki{
    position:relative;z-index:2147483647;width:100%;overflow:visible !important;display:inline-block;margin:0;padding:0;border:0;
}
#dqotynhfjcwki *{
    margin:0;padding:0;border:0;min-width:none;max-width:none;display:block;
}
.dqotynhfjcwki * img{
    max-width:none;max-height:none;width:auto;height:auto;
}
.dqotynhfjcwkiFa{
    width:100%;float:left;text-align:center;background-size:100% auto !important;position:relative;
}
#dqotynhfjcwkiFi{
    width:100%;float:left;visibility:hidden;
}
.dqotynhfjcwkiCR{
    bottom:0;position:absolute;right:0;margin:0;
}
.dqotynhfjcwkiCR a{float:right;}
.dqotynhfjcwkiCR img{float:right;width:28px !important;}